:host {
  display: block;
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chess-board {
  display: grid;
  width: 50%;
  aspect-ratio: 1;
  max-width: 1200px;
  max-height: 1200px;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 840px) {
  .chess-board {
    width: 80%;
  }
}

@media (max-width: 665px) {
  .chess-board {
    width: 90%;
  }
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  margin-right: 1rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.next-move-info {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 0.5em;
}

.reset-btn {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  margin-right: 0.5em;
  border: none;
  border-radius: 0.5em;
  color: white;
}

.reset-btn:hover {
  cursor: pointer;
}

.next-move-line {
  width: 1px;
  height: 2.5rem;
  background-color: rgb(60, 60, 60);
  margin: 0 1em;
}

.next-move-circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  transition: .5s;
}

.square:nth-child(1) {
  border-top-left-radius: 0.3125rem;
}

.square:nth-child(8) {
  border-top-right-radius: 0.3125rem;
}

.square:nth-child(57) {
  border-bottom-left-radius: 0.3125rem;
}

.square:nth-child(64) {
  border-bottom-right-radius: 0.3125rem;
}


