.square-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.dark-square {
  background-color: #b58863;
}

.white-square {
  background-color: #f0d9b5;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-piece-img {
  width: 100%;
  height: auto;
}

.clicked-dark-square {
  background-color: rgb(218, 195, 50);
}

.clicked-white-square {
  background-color: rgb(211, 202, 78);
}

.red-white-square {
  background-color: rgb(236, 121, 100);
}

.red-dark-square {
  background-color: rgb(224, 105, 84);
}

.legal-move {
  position: absolute;
  width: 30%;
  height: 30%;
  left: 35%; // 50% - (30% / 2) to put it in the middle
  top: 35%; // 50% - (30% / 2) to put it in the middle
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.capture {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  border: 12px solid rgba(0, 0, 0, 0.2);
}
